<div class="container">
  <div class="row">
    <h4 class="mb-5 col-3 text-center pt-4 rounded-pill">
      お気に入り商品一覧(全<%= @favorites.count %>件)
    </h4>

<div class="col-8 item_index_image offset-1"></div>
  </div>
</div>

<div class="container">
  <div class="row row-cols-1 row-cols-md-4 g-4">
    <% @favorites.each do |favorite| %>
      <div class="col-md-3">
        <div class="card-body mb-3">
          <%= link_to public_item_path(favorite.item.id) do %>
            <%= attachment_image_tag favorite.item,:image, size:"220x200", fallback: "no_image.jpg" %>
          <% end %>
          <div class="body">
            <h5 class="card-title">
              <%= favorite.item.maker.name %>
                  </br>
              <%= favorite.item.name %>
            </h5>
            <p class="card-text">
              <% tax_in = favorite.item.price * 1.10 %>
                ¥ <%= tax_in.round.to_s(:delimited) %>
            </p>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>



