<div class="container">
  <div class="mt-5">
    <span class="fs-3  offset-md-1 bg-light">マイページ</span>
  </div>

  <div class="row mt-5">
    <span class="fst-italic fs-5 col-2">登録情報</span>
    <%= link_to "編集する", edit_public_customer_path, class: "btn btn-sm btn-secondary col-2 mb-5" %>
  </div>

  <table class="table table-bordered confirm_table", style="width: 70%">
    <tbody>
      <tr>
        <td class="col-2 bg-light">会社名</td>
        <td><%= @customer.company %></td>
      </tr>
      <tr>
        <td class=" bg-light">氏名</td>
        <td><%= @customer.last_name + " " + @customer.first_name %></td>
      </tr>
      <tr>
        <td class="bg-light">カナ</td>
        <td><%= @customer.kana_last_name + " " + @customer.kana_first_name %></td>
      </tr>
      <tr>
        <td class="bg-light">郵便番号</td>
        <td><%= @customer.postal_code %></td>
      </tr>
      <tr>
        <td class="bg-light">住所</td>
        <td><%= @customer.address %></td>
      </tr>
      <tr>
        <td class="bg-light">電話番号</td>
        <td><%= @customer.telephone_number %></td>
      </tr>
      <tr>
        <td class="bg-light">メールアドレス</td>
        <td><%= @customer.email %></td>
      </tr>
    </tbody>
  </table>