<div class="container">

  <div class="row justify-content-center mt-4">
    <div class="col-10 row justify-content-between">
      <span class="bg-info font-weight-bold fs-5 col-2 text-center font-monospace pt-2">商品一覧</span>
      <div class="fs-2 col-2"><%= link_to "商品追加", new_admin_item_path, class:"far fa-plus-square", :style => "color: black;" %></div>
    </div>
  </div>

  <div class="row justify-content-center mt-3">
    <div class="col-10">
      <table class="table table-hover">
        <thead class="bg-light">
          <tr>
            <th>商品ID</th>
            <th>メーカー</th>
            <th>ジャンル</th>
            <th>商品名</th>
            <th>税抜価格</th>
            <th>定価</th>
            <th>ステータス</th>
          </tr>
        </thead>
        <tbody>
          <% @items.each do |item| %>
          <tr>
            <td><%= item.id %></td>
            <td><%= item.maker.name %></td>
            <td><%= item.genre.name %></td>
            <td><%= link_to "#{item.name}", admin_item_path(item), :style => "color: black;text-decoration: underline" %></td>
            <td><%= item.price %></td>
            <td><%= item.user_price %></td>
            <% if item.is_active == true %>
            <td style="color:green;">在庫品</td>
            <% elsif %>
            <td style="color:gray;">取り寄せ品</td>
            <% end %>
          </tr>
           <% end %>
             <div class="row  mt-3">
              <div class="col-10">
                <span><%= paginate @items %></span>
              </div>       
             </div>         

        </tbody>
      </table>
    </div>
  </div>
</div>