<div class="container-fluid">
  <p class="bg-light">ジャンル一覧・追加</p>
   <p id="notice"><%= flash[:notice] %></p>
    <div class="row">
      <div class="col-1"></div>
      　<div class="col-3">
          <%= form_with model: @genre,url: admin_genres_path, local: true do |f| %>
            <%= f.label:ジャンル名 %>
            <%= f.text_field :name,  placeholder: "ディスクグラインダ" %>
            <%= f.submit "　新規登録　", class: "btn btn-sm btn-success ms-5 fs-5" %>
          <% end %>
      　</div>
    </div>

    <div class="row">
      <div class="col-1"></div>
       <div class="col-3">
        <table class="table table-hover">
          <thead class="bg-light">
            <tr>
              <th>ジャンル</th>
              <th></th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <% @genres.each do |genre| %>
            <tr>
              <td><%= genre.name %></td>
              <td></td>
              <td><%= link_to "　編集する　", edit_admin_genre_path(genre), class: "btn btn-success" %></td>
            </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
</div>
