<div class="container">
  <div class="row">

      <h4 class="mb-5 text-color col-3 text-center pt-4 rounded-pill">
        商品一覧(全<%= @items.count %>件)
      </h4>
    <div class="col-8 item_index_image offset-1"></div>

  </div>
</div>

<div class="container">
  <div class="row row-cols-1 row-cols-md-4 g-4">
    <% @items.each do |item| %>
      <div class="col-md-3">
        <div class="card-body mb-3">
          <%= link_to public_item_path(item.id) do %>
            <%= attachment_image_tag item,:image, size:"220x200", fallback: "no_image.jpg" %>
          <% end %>
          <div class="body">
            <h5 class="card-title">
              <%= item.maker.name %>
                <% if customer_signed_in? %>
                  <tr><% if item.favorited_by?(current_customer) %>
                    <td><%= link_to public_item_favorites_path(item), method: :delete do %>
                      ♥<%= item.favorites.count %>
                     <% end %>
                    </td>
                      <% else %>
                    <td><%= link_to public_item_favorites_path(item), method: :post do %>
                      ♡<%= item.favorites.count %>
                     <% end %>
                    </td>
                     <% end %>
                  </tr>
                <% end %>
                  </br>
              <%= item.name %>
            </h5>
            <p class="card-text">
              <% tax_in = item.price * 1.10 %>
                ¥ <%= tax_in.round.to_s(:delimited) %>
            </p>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>