<header>
  <nav class="navbar navbar-expand navbar-light" style="background-color:orange">
    <div class="container">
      <%= link_to root_path do%>
        <span class="navbar-brand">QuickDDP</span>
      <% end %>
<!-- ハンバーガーメニュー -->
 <div class="drawer">
<!-- ハンバーガーメニューの表示・非表示を切り替えるチェックボックス -->
   <input type="checkbox" name="navToggle" id="navToggle"　class="nav-toggle">
<!-- ハンバーガーメニューのアイコン -->
   <label for="navToggle" class="btn-burger">
    <span class="icon"></span>
   </label>
      <nav class="nav">
        <ul class="nav-list">
          <% if admin_signed_in? %>
            <%#= link_to admin_makers_path do% 　　後ほど作成します>
             <span class="fas fa-book-open">お問い合わせ一覧</span>
            <%# end %>
            <%= link_to admin_items_path do%>
             <li class="fas fa-home">商品一覧</li>
            <% end %>
            <%= link_to admin_customers_path do%>
             <li class="fas fa-users">会員一覧</li>
            <% end %>
            <%= link_to admin_makers_path do%>
             <li class="fas fa-book-open">取扱メーカー</li>
            <% end %>
            <%= link_to admin_genres_path do%>
             <li class="fas fa-book-open">ジャンル一覧</li>
            <% end %>
            <%= link_to destroy_admin_session_path, method: :delete do%>
             <li class="fas fa-sign-out-alt">Logout</li>
            <% end %>

           <% elsif customer_signed_in? %>
             <li class="name">ようこそ、<%= current_customer.last_name %>さん！</li>
            <%= link_to public_makers_path do%>
             <li class="fas fa-book-open">取扱メーカー</li>
            <% end %>
            <%= link_to public_items_path do %>
             <li class="fas fa-solid fa-store">商品一覧</li>
            <% end %>
            <%= link_to public_customer_path(current_customer) do %>
             <li class="fas fa-user ">マイページ</li>
            <% end %>
            <%= link_to new_public_contact_path do%>
             <li class="fas fa-solid fa-envelope">お問い合わせ</li>
            <% end %>
            <%= link_to destroy_customer_session_path, method: :delete do %>
             <li class="fas fa-sign-out-alt">ログアウト</li>
            <% end %>
          <% else %>
            <%= link_to public_homes_about_path do%>
             <li class="fas fa-home">About</li>
            <% end %>
            <%= link_to public_makers_path do%>
             <li class="fas fa-book-open">取扱メーカー</li>
            <% end %>
            <%= link_to public_items_path do%>
             <li class="fas fa-link">商品一覧</li>
            <% end %>
            <%= link_to new_public_contact_path do%>
             <li class="fas fa-book-open">お問い合わせ</li>
            <% end %>
            <%= link_to new_customer_registration_path do%>
             <li class="fas fa-user-plus">新規登録</li>
            <% end %>
            <%= link_to new_customer_session_path do%>
             <li class="fas fa-sign-in-alt">ログイン</li>
            <% end %>
          <% end %>
        </ul>
      </nav>
    </div>
  </nav>
 </header> 
